#Eclipse
.recommenders/
.metadata/
.classpath
.project
.pydevproject
.settings/
bin/

#IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

#NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build files
build
.allure
gradlew
gradlew.bat
.gradle
**/target/
**/build/
**/out/
**/allure-results/

#macOS
.DS_Store

#Unix
nohup.out

### VS Code ###
.vscode/

.gradle/
build/

!/proto/src/main/proto/
/proto/src/main/
